import("methods")
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot")
importFrom(zoo,is.zoo)
importFrom(zoo,zoo)
importFrom(zoo,as.zoo)
importFrom(stats, confint)
importFrom("stats", "uniroot")
#import("stats4")
#import("expm")
#import("mvtnorm")
#import("cubature")
importFrom("statmod","gauss.quad")
importFrom(yuima,setModel)
importFrom(yuima,setData)
importFrom(yuima,get.zoo.data)
importFrom(calculus,derivative)
importFrom(Ryacas0,Simplify)
#importFrom(foreach, foreach)
importFrom(foreach,foreach)
importFrom("foreach","%dopar%")
importFrom("stats", "dcauchy", "dnorm", "optimHess")
importFrom(parallel, detectCores)
importFrom(parallel, makePSOCKcluster)
importFrom(parallel, stopCluster)
importFrom(doParallel, registerDoParallel)
importFrom(stats, time)
importFrom(stats,optim)
importFrom(utils, tail)
importFrom(utils, data)
#importFrom(methods,is)
#importFrom(methods,new)

exportClasses("yuimaLocStableSDE",
              "yuimaStable.Info")
export(qsle,
       setNumerical,
       setLocStableModel)
#exportPattern("^[[:alpha:]]+")
useDynLib(yuimaStable, .registration=TRUE)
